* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.bg-container {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: top;
}